section {
    display: block;
    max-width: 640px;
    border-bottom-color: rgb(234, 236, 239);
    border-bottom-style: solid;
    border-bottom-width: 1.11111px;
    font-family: "-apple-system", 
        "BlinkMacSystemFont",
        "Segoe UI",
        Helvetica,
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol";
    font-size: clamp(1.25rem, calc(0.96rem + 1.46vw), 2rem);
    font-weight: 600;
}

h2 {
    color: rgb(20, 160, 95);
    font-family: cursive;
    font-size: clamp(1rem, calc(0.76rem + 1.22vw), 1.63rem);
    margin: 5px 0;
}

/* Weel Diagram */

.card-img {
    width: 100%;
    aspect-ratio: 6x4;
    max-width: 640px;
    height: auto;
    object-fit: contain;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 3px -2px, rgb(0 0 0 / 14%) 0px 3px 4px 0px, rgb(0 0 0 / 12%) 0px 1px 8px 0px;
}

.notice {
    font-family: 'Courier New';
    text-shadow: rgb(117, 116, 116) 0.1px 0.3px 0.2px;
    color: rgb(0, 0, 0);
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    border-radius: 12px;
    width: 100%;
    aspect-ratio: 9x3;
    max-width: 640px;
    height: auto;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 3px -2px, rgb(0 0 0 / 14%) 0px 3px 4px 0px, rgb(0 0 0 / 12%) 0px 1px 8px 0px;
    align-items: center;
}

.feedback-buttons {
    display: flex;
    gap: 20px;
}

.feedback-buttons button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 12px;
    transition: box-shadow ease-in 150ms;
     &:hover {
        box-shadow: rgb(0 0 0 / 20%) 0px 3px 3px -2px, rgb(0 0 0 / 14%) 0px 3px 4px 0px, rgb(0 0 0 / 12%) 0px 1px 8px 0px;
    }
}

.feedback-buttons img {
    width: 50px;
    height: 50px;
}

.diagram-container {
    display: none;
    width: 100%;
    aspect-ratio: 9x2;
    max-width: 640px;
    max-height: 150px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

.diagram-container.show {
    display: flex;
    opacity: 1;
}

.diagram {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    max-width: 150px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 3px -2px, rgb(0 0 0 / 14%) 0px 3px 4px 0px, rgb(0 0 0 / 12%) 0px 1px 8px 0px;
}

.diagram::before {
    content: "";
    position: absolute;
    border: solid 2px rgb(2, 2, 2);
    border-radius: 50%;
    inset: 0;
}

.total {
    position: absolute;
    width: 100%;
    aspect-ratio: 1/1;
    max-width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: clamp(0.94rem, calc(0.48rem + 2.31vw), 1.69rem);
    background-color: black;
    color: white;
}

.statistic-list {
    width: 250px;
    font-family: 'Arial';
    font-size: clamp(0.63rem, calc(0.22rem + 2vw), 1.25rem);
    margin-left: 0;
    /* Отступ слева в браузере IE и Opera */
    padding-left: 0;
    /* Отступ слева в браузере Firefox, Safari, Chrome */
}

.statistic-list li {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.category {
    font-weight: bold;
}

.dots {
    margin: 0 4px 2px;
    border-bottom: 1px dotted #000;
    flex-grow: 1;
}

.like-icon {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    max-width: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.heart-mask {
    position: absolute;
    width: 100%;
    height: 100%;
}

.heart-mask img {
    width: 100%;
    height: 100%;
}

.heart-fill {
    position: absolute;
    width: 87%;
    aspect-ratio: 100/92;
    background-image: linear-gradient(rgb(0, 255, 106), rgb(84, 128, 111));
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* clip-path: url(#heartClipPath); */
    transform-origin: bottom;
    transition: transform 0.3s ease;
    z-index: -1;
    border-radius: 40% 40% 90% 90%;
}

.percentage-text {
    position: absolute;
    color: black;
    font-size: clamp(0.94rem, calc(0.59rem + 1.73vw), 1.5rem);
    font-weight: bold;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}


@media (max-width: 640px) {

    .feedback-buttons img {
        width: 40px;
        height: 40px;
    }

    .diagram-container {
        max-height: 120px;
        gap: 10px;
    }

    .diagram {
        max-width: 125px;
    }
    .like-icon {
        max-width: 138px;
    }

    .total {
        max-width: 62px;
    }
}

@media (max-width: 480px) {
    .feedback-buttons img {
        width: 35px;
        height: 35px;
    }

    .diagram-container {
        max-height: 95px;
    }

    .diagram {
        max-width: 100px;
    }

    .like-icon {
        max-width: 110px;
    }

    .total {
        max-width: 50px;
    }
}

@media (max-width: 430px) {
    .diagram-container {
        max-height: 95px;
    }

    .diagram {
        max-width: 95px;
    }

    .total {
        max-width: 47px;
    }
}

@media (max-width: 412px) {
    .diagram-container {
        max-height: 92px;
    }
}